.auth-form__button {
  margin-top: 150px;
  width: 100%;
  height: 50px;
  background-color: white;
  border: 0;
  border-radius: 2px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity 0.5s linear;
}

.auth-form__button:hover {
  opacity: 0.8;
}